PRODUCT_NAME = ${TARGET_NAME}Extension
PRODUCT_BUNDLE_IDENTIFIER = $(BUNDLE_ID_PREFIX).Edit.${TARGET_NAME}
SKIP_INSTALL = YES

LD_RUNPATH_SEARCH_PATHS = $(inherited) @executable_path/../Frameworks @executable_path/../../../../Frameworks

GENERATE_INFOPLIST_FILE = YES
INFOPLIST_KEY_CFBundleDisplayName = ${TARGET_NAME}

INFOPLIST_FILE = Extensions/${TARGET_NAME}/Info.plist
CODE_SIGN_ENTITLEMENTS = Extensions/Extension.entitlements
