#include "User.xcconfig"

// Primary behaviors
MACOSX_DEPLOYMENT_TARGET = 14.0
ENABLE_HARDENED_RUNTIME = YES
DEAD_CODE_STRIPPING = YES
SWIFT_STRICT_CONCURRENCY = complete
SWIFT_VERSION = 5.0
CODE_SIGN_STYLE = Automatic
CODE_SIGN_IDENTITY = Apple Development
PRODUCT_NAME = $(TARGET_NAME)
SDKROOT = macosx
DEBUG_INFORMATION_FORMAT = dwarf-with-dsym
SWIFT_COMPILATION_MODE = wholemodule
GCC_C_LANGUAGE_STANDARD = gnu17
CLANG_CXX_LANGUAGE_STANDARD = gnu++20

// Version information
CURRENT_PROJECT_VERSION = 151
CURRENT_PROJECT_DISPLAY_VERSION = 3.0.0
MARKETING_VERSION = $CURRENT_PROJECT_DISPLAY_VERSION
INFOPLIST_KEY_NSHumanReadableCopyright = Copyright © 2023 Chime Systems Inc. All rights reserved.

// Modern recommendations
ALWAYS_SEARCH_USER_PATHS = NO
CLANG_ENABLE_MODULES = YES
CLANG_ENABLE_OBJC_ARC = YES
CLANG_ENABLE_OBJC_WEAK = YES
SWIFT_EMIT_LOC_STRINGS = YES

COMBINE_HIDPI_IMAGES = YES
ALWAYS_EMBED_SWIFT_STANDARD_LIBRARIES = YES
