#include "Configurations/Project.xcconfig"

ENABLE_TESTABILITY = YES
ONLY_ACTIVE_ARCH = YES
DEBUG_INFORMATION_FORMAT = dwarf

GCC_PREPROCESSOR_DEFINITIONS = DEBUG=1
SWIFT_ACTIVE_COMPILATION_CONDITIONS = DEBUG
SWIFT_OPTIMIZATION_LEVEL = -Onone
SWIFT_COMPILATION_MODE = $(inherited)
GCC_OPTIMIZATION_LEVEL = 0
