name: CI

on:
  push:
    branches:
      - main
    paths-ignore:
      - 'README.md'
      - 'CODE_OF_CONDUCT.md'
      - '.editorconfig'
      - '.spi.yml'
      - '.github/workflows/docc.yml'
      - '.github/FUNDING.yml'
      - 'appcast.xml'
  pull_request:
    branches:
      - main

concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.ref }}
  cancel-in-progress: true
  
env:
  DEVELOPER_DIR: /Applications/Xcode_26.0.app

jobs:
  lint:
    name: Lint
    runs-on: macos-15
    steps:
      - uses: actions/checkout@v4
        with:
          submodules: recursive
      - name: Install XCLint
        run: brew tap mattmassicotte/XCLint https://github.com/mattmassicotte/XCLint.git && brew install xclint
      - name: Run XCLint
        run: xclint

  build:
    name: Build
    runs-on: macOS-15
    timeout-minutes: 60
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          submodules: recursive
      - name: Import Certs
        uses: apple-actions/import-codesign-certs@v3
        with: 
          p12-file-base64: ${{ secrets.CERTIFICATES_P12 }}
          p12-password: ${{ secrets.CERTIFICATES_P12_PASSWORD }}
      - name: Setup Signing
        env:
          DEVELOPMENT_TEAM: ${{ secrets.DEVELOPMENT_TEAM }}
        run: |
          echo "DEVELOPMENT_TEAM = $DEVELOPMENT_TEAM" >> User.xcconfig
          echo "BUNDLE_ID_PREFIX = com.chimehq" >> User.xcconfig
      - name: "SPM Cache"
        uses: actions/cache@v4
        with:
          path: /Users/runner/Library/Developer/Xcode/DerivedData/**/SourcePackages/checkouts
          key: ${{ runner.os }}-spm-${{ hashFiles('**/Package.resolved') }}
          restore-keys: |
            ${{ runner.os }}-spm-
      - name: xcodebuild
        run: set -o pipefail && xcodebuild -scheme Edit -destination "platform=macOS" test | xcbeautify

  ios-build:
    name: iOS Build
    runs-on: macOS-15
    timeout-minutes: 60
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          submodules: recursive
      - name: Import Certs
        uses: apple-actions/import-codesign-certs@v3
        with: 
          p12-file-base64: ${{ secrets.CERTIFICATES_P12 }}
          p12-password: ${{ secrets.CERTIFICATES_P12_PASSWORD }}
      - name: Setup Signing
        env:
          DEVELOPMENT_TEAM: ${{ secrets.DEVELOPMENT_TEAM }}
        run: |
          echo "DEVELOPMENT_TEAM = $DEVELOPMENT_TEAM" >> User.xcconfig
          echo "BUNDLE_ID_PREFIX = com.chimehq" >> User.xcconfig
      - name: "SPM Cache"
        uses: actions/cache@v4
        with:
          path: /Users/runner/Library/Developer/Xcode/DerivedData/**/SourcePackages/checkouts
          key: ${{ runner.os }}-spm-${{ hashFiles('**/Package.resolved') }}
          restore-keys: |
            ${{ runner.os }}-spm-
      - name: xcodebuild
        run: set -o pipefail && xcodebuild -scheme MultiplatformApp -destination "platform=iOS Simulator,name=iPhone 16" build | xcbeautify

